<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" (window:resize)="onResize($event)">
    <a class="navbar-brand" href="#">{{title}}</a>
    <button class="navbar-toggler" type="button" (click)="buttonClicked()">
          <span class="navbar-toggler-icon"></span>
           <ul class="navbar-nav mr-auto" *ngIf="menuOpened == true">
             <li *ngFor="let aHeaderLink of headerLinks" class="nav-item active">
              <a class="nav-link" routerLink="{{aHeaderLink.link}}">{{aHeaderLink.name}}</a>
             </li>
          </ul>
        </button>
    <div class="collapse navbar-collapse" id="navbarCollapse" *ngIf="menuOpened == false">
      <ul class="navbar-nav mr-auto">
        <li *ngFor="let aHeaderLink of headerLinks" class="nav-item active">
          <a class="nav-link" routerLink="{{aHeaderLink.link}}">{{aHeaderLink.name}}</a>
        </li>
      </ul>
    </div>
  </nav>
</header>