<section class="jumbotron">
  <div *ngFor="let detail of topicDetails">
    <!-- if it only contains text-->
    <div *ngIf="!detail.imgSrc || detail.imgSrc.trim != ''" [innerHTML]="detail.text" >
    </div>
    <!-- if it only contains image -->
    <div *ngIf="!detail.text || detail.text.trim != ''">
      <mat-card>
        <img mat-card-image src="{{detail.imgSrc}}" alt="{{detail.imgAlt}}" />
      </mat-card>
    </div>
     <!-- if it contains both text and image -->
    <div *ngIf="detail.imgSrc && detail.text" >
      <!-- TODO : image allignement and text -->
    </div>
  </div>
</section>
<!--
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Album example</h1>
    <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not
      too short so folks don't simply skip over it entirely.</p>
    <p>
      <a href="#" class="btn btn-primary my-2">Main call to action</a>
      <a href="#" class="btn btn-secondary my-2">Secondary action</a>
    </p>
  </div>
</section>
-->